.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 961px) {
  .App {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
